$color-livingCoral: #FF6F61;
$color-blueDial: #263056;
$color-turkishSea: #195190;
$color-viridianGreen: #009499;
$color-seaPink: #DE98AB;
$color-lightGrey: #F7F7FE;
$color-redFalse: #EB5757;
$color-greenConfirm: #27CF17;
$color-white: #FFF;