<!DOCTYPE html>

<title>Edit News</title>

{% block body %}
    <h1>Edit News</h1>

    {{ include('components/editorial_pages/news/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_news_index') }}">back to list</a>

    {{ include('components/editorial_pages/news/_delete_form.html.twig') }}
{% endblock %}
