{% extends 'components/editorial_pages/editorial_page.html.twig' %}

{% block title %}
    Mak'API - About Us
{% endblock %}

{% block main %}
    <main class="submain">
        <div class="container makapi-container">
            <div class="row">
                <div class="col s12 m6">
                    <h1>About us</h1>
                    <p class="makapi-text tall">
                        We are group of people who wants to simplify the use of APIs to all. Simply isn't he ?
                    </p>
                    <h2>Who are we ?</h2>
                    <p class="makapi-text tall">
                        We are your API builders. Our website and generator give you an unique opportunity to create your
                         API in few minutes. Go See you below for more information about Mak'API.
                    </p>
                </div>
                <div class="col m6 s12">
                    <div class="makapi-content-img">
                        <img class="responsive-img" src="{{ asset('images/png/builder.png') }}" alt="Makapi builder">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#tabs-makapi-project">Mak'API Project</a></li>
                        <li class="tab col s3"><a href="#tabs-founder">Founder</a></li>
                        <li class="tab col s3 disabled"><a href="#tabs-history">History</a></li>
                        <li class="tab col s3"><a href="#tabs-futur">Futur</a></li>
                    </ul>
                </div>
                <div id="tabs-makapi-project" class="col s12">
                    <p>Student project</p>
                </div>
                <div id="tabs-founder" class="col s12">
                    <p>Our names</p>
                </div>
                <div id="tabs-history" class="col s12">
                    <p>Our history</p>
                </div>
                <div id="tabs-futur" class="col s12">
                    <p>Our futur</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}