<div class="container">
    <div class="row center-align">
        <div class="col l3 s12">
            <div class="footer-logo_makapi">
                <div class="font-mak">
                    Mak
                </div>
                <img src="{{ asset('images/favicons/favicon.png') }}">
                <div class="font-api">
                    API
                </div>
            </div>
            {#
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">2019-2020</a></li>
            </ul>
            #}
        </div>
        <div class="col l3 s12">
            <h4>Solutions</h4>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">API Generator (Github)</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Wiki</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">My API's</a></li>
            </ul>
        </div>
        <div class="col l3 s12">
            <h4>About us</h4>
            <ul>
                <li><a class="grey-text text-lighten-3" href="{{ path('app_editorial_about_us') }}">Company</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">News</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Report an error</a></li>
            </ul>
        </div>
        <div class="col l3 s12">
            <h4>Social Network</h4>
            <ul>
                <li><a class="grey-text text-lighten-3" href="https://twitter.com/MakapiProject">Twitter</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <p class="center-align">
            © 2019 Mak’API. All rights reserved | <a class="grey-text text-lighten-4" href="#">Terms of Service</a>
            | <a class="grey-text text-lighten-4" href="#">Privacy</a>
            | <a class="grey-text text-lighten-4" href="#">Legal</a>
        </p>
    </div>
</div>