{% extends 'pagelayout.html.twig' %}

{% block title %}Mak'API - Home{% endblock %}

{% block body %}
    {% include 'components/header/homepage_header.html.twig' %}
    <main>
        <section class="part-home">
            {% include 'homepage/part_home.html.twig' %}
        </section>
        <section class="part-makapi container valign-wrapper">
            {% include 'homepage/part_makapi.html.twig' %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/vendor.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
{% endblock %}
