{% extends 'pagelayout.html.twig' %}

{% block title %}Mak'API - Home{% endblock %}

{% block body %}
    {% include 'components/header/homepage_header.html.twig' %}
    <main>
        <section class="part-home">
            {% include 'homepage/part_home.html.twig' %}
        </section>
        <section class="part-makapi container valign-wrapper">
            {% include 'homepage/part_makapi.html.twig' %}
        </section>
        <section class="part-create container valign-wrapper">
            <div class="create-content row">
                <div class="create-text col l6 valign-wrapper">
                    <div class="create-text_center_div">
                        <h2 class="homepage-bloc_title">
                            Create your API here
                        </h2>
                        <div class="create-text_content">
                            <p>
                                You can easily create your own APIs with our step-by-step form.
                            </p>
                            <p>
                                It's simple no longer need to take the lead in looking for information anywhere or with
                                different sources. Everything is planned to help you and you facilitate the work directly
                                on our site.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="create-image col l6 valign-wrapper">
                    <object class="create-svg_builder" type="image/svg+xml" data="{{ asset('images/svg/sketch.svg') }}">
                        <img src="{{ asset('images/png/sketch.png') }}" alt="Makapi builder"/>
                    </object>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/vendor.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
{% endblock %}
