{% extends 'pagelayout.html.twig' %}

{% block title %}Mak'API - Home{% endblock %}

{% block body %}
    {% include 'components/header/homepage_header.html.twig' %}
    <div class="corps">
        <div class="corps-content">
            <h1 class="corps-header_title">
                <div class="slider-bloc">
                    <ul class="slider-list">
                        <li class="slider-word">Create.</li>
                        <li class="slider-word">Build.</li>
                        <li class="slider-word">Test.</li>
                        <li class="slider-word">Host.</li>
                        <li class="slider-word">Create.</li>
                    </ul>
                </div>
                Your API easily.
            </h1>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a nunc eu ligula blandit scelerisque. Praesent placerat.
            </div>
            <div class="button-get_started">
                <a href="#" class="btn-orange">Get started</a>
            </div>
        </div>
    </div>
{% endblock %}
