<div class="test-content row">
    <div class="test-text col l6 valign-wrapper">
        <div class="test-text_center_div">
            <h2 class="homepage-bloc_title">
                Testing is the key
            </h2>
            <div class="test-text_content">
                <p>
                    Your API is directly tested online a first time by our generator to test if all the
                    information you have to fill out is correct and meets the standards.
                </p>
                <p>
                    After it is your turn, you can directly test your API create from your machine at home
                    or your hosted machines. The API is hosted by us for a fixed duration but you can also
                    download it for free at the end of the procedure.
                </p>
            </div>

        </div>
    </div>
    <div class="test-image col l6 valign-wrapper">
        <object class="test-svg_test" type="image/svg+xml" data="{{ asset('images/svg/test.svg') }}">
            <img src="{{ asset('images/png/test.png') }}" alt="Makapi builder"/>
        </object>
    </div>
</div>