<div class="makapi-content row">
    <div class="makapi-image col l6 valign-wrapper">
        <object class="makapi-svg_builder" type="image/svg+xml" data="{{ asset('images/svg/builder.svg') }}">
            <img src="{{ asset('images/png/builder.png') }}" alt="Makapi builder"/>
        </object>
    </div>
    <div class="makapi-text col l6 valign-wrapper">
        <div class="makapi-text_center_div">
            <h2 class="homepage-bloc_title">
                Who are we and what are our solutions ?
            </h2>
            <div class="makapi-text_content">
                <p>
                    Mak’API is group of people who wants to simplify the use of APIs to all.
                </p>
                <p>
                    It is simple, we have created an API generator that will allow you to create its fully online API step by step with a hosting and testing service.
                </p>
                <p>
                    Our API Generator is totally free to use, you can try now.
                </p>
            </div>
            <div class="makapi-button_go">
                <div class="makapi-button_go_center_div valign-wrapper">
                    <div class="makapi-button_separateur"></div>
                    <a href="#" class="makapi-button_go_action center-align">
                        GO
                    </a>
                    <div class="makapi-button_separateur"></div>
                </div>
            </div>
        </div>

    </div>
</div>