<div class="row">
    <div class="col l12 s12 center-align">
        <h2 class="white-text">Go ahead</h2>
        <p class="grey-text text-lighten-4">Follow our tutorial to create your first API and test it live.</p>
        <a class="waves-effect waves-light btn purple lighten-1">Create my first API</a>
    </div>
</div>