<div class="host-content row">
    <div class="host-image col l6 valign-wrapper">
        <object class="host-svg_host" type="image/svg+xml" data="{{ asset('images/svg/Container.svg') }}">
            <img src="{{ asset('images/png/Container.png') }}" alt="Makapi hoster"/>
        </object>
    </div>
    <div class="host-text col l6 valign-wrapper">
        <div class="host-text_center_div">
            <h2 class="homepage-bloc_title">
                Host your API
            </h2>
            <div class="host-text_content">
                <p>
                    Your API can be hosted directly in our service, complete statistics are available for
                    each of your APIs. (see service offer here).
                </p>
                <p>
                    We also allow you to store your APIs directly on your account for free, and to have a
                    backup, to be able to duplicate, modify, test and download them indefinitely.
                </p>
            </div>
        </div>
    </div>
</div>