<div class="home-content valign-wrapper">
    <div class="home-content_center_div center-block">
        <h1 class="home-header_title">
            <div class="home-slider_bloc">
                <ul class="slider-list">
                    <li class="slider-word">Create.</li>
                    <li class="slider-word">Build.</li>
                    <li class="slider-word">Test.</li>
                    <li class="slider-word">Host.</li>
                    <li class="slider-word">Create.</li>
                </ul>
            </div>
            Your API easily.
        </h1>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a nunc eu ligula blandit scelerisque. Praesent placerat.
        </div>
        <div class="button-get_started">
            <a href="#" class="btn-makapi-orange">Get started</a>
        </div>
    </div>
</div>