<div class="row">
    <div class="col l12 s12 center-align">
        <h2 class="white-text">Go ahead</h2>
        <h3 class="text-lighten-4">Follow our tutorial to create your first API and test it live.</h3>
        <a class="waves-effect waves-light btn makapi-button corail large">Create my first API</a>
    </div>
</div>