<div class="build-content row">
    <div class="build-image col l6 valign-wrapper">
        <object class="build-svg_build" type="image/svg+xml" data="{{ asset('images/svg/crane.svg') }}">
            <img src="{{ asset('images/png/crane.png') }}" alt="Makapi builder"/>
        </object>
    </div>
    <div class="build-text col l6 valign-wrapper">
        <div class="build-text_center_div">
            <h2 class="homepage-bloc_title">
                Build instantly
            </h2>
            <div class="build-text_content">
                <p>
                    Your API is directly created online, after filling out all the information you needed
                    through the form.
                </p>
                <p>
                    If no errors are detected from our platform, you will be redirected to a page that will
                    allow you to directly test your application.
                </p>
            </div>
        </div>
    </div>
</div>