<div class="home-content valign-wrapper">
    <div class="home-content_center_div center-block">
        <h1 class="home-header_title">
            <div class="home-slider_bloc">
                <ul class="slider-list">
                    <li class="slider-word">Create.</li>
                    <li class="slider-word">Build.</li>
                    <li class="slider-word">Test.</li>
                    <li class="slider-word">Host.</li>
                    <li class="slider-word">Create.</li>
                </ul>
            </div>
            Your API easily.
        </h1>
        <div class="description">
            Mak'API is an API generator. Create yours in just a few clicks!
        </div>
        <div class="button-get_started">
            <a href="{{ path('app_generator_form_index') }}" class="waves-effect waves-light btn makapi-button corail small">Get started</a>
        </div>
    </div>
</div>