// Imports fonts, variable, Makapi Class and animations
    @import "components/fonts";
    @import "variable/global";
    @import "components/animation";
    @import "components/class";

* {
    padding: 0;
    margin: 0;
}
body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
header {
    position: absolute;
    width: 100%;
    z-index: 100000;
}

// Imports SCSS file
    @import "components/header";
    @import "components/homepage";
    @import "components/profile";

