a.btn-makapi-orange {
  background: #FF6F61;
  border-radius: 20px;
  padding: 9px 21px;
  color: white;
}

.livingCoral-text{
  color : $color-livingCoral;
}
.blueDial-text{
  color : $color-blueDial;
}
.turkishSea-text{
  color : $color-turkishSea;
}
.viridianGreen-text{
  color : $color-viridianGreen;
}
.seaPink-text{
  color : $color-seaPink;
}
.greyClaire-text{
  color : $color-greyClaire;
}
.redFalse-text{
  color : $color-redFalse;
}
.greenConfirm-text{
  color : $color-greenConfirm;
}

main.submain {
  min-height: 100vh;
  margin-top: 20px;
}

/**
  Override Materialize & global class
 */
body {
  h1 {
    font-size: 38px;
    font-weight: bold;
  }
  h2 {
    font-size: 32px;
    font-weight: 800;
  }
  h3 {
    font-size: 28px;
    font-weight: 500;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
  }
  p.makapi-text {
    text-align: justify;
    font-size: 16px;
    &.small {
      font-size: 14px;
    }
    &.tall {
      font-size: 18px;
    }
    &.bold {
      font-weight: bold;
    }
    &.italic {
      font-style: italic;
    }
  }
  .makapi-button {
    background-color: $color-livingCoral;
    padding: 0 22px;
    height: 50px ;
    line-height: 50px;
    border-radius: 20px;
    text-transform: none;
    font-weight: bold;
    font-size: 16px;
    &.large {
      padding: 0 16px;
      height: 60px;
      line-height: 60px;
      font-size: 18px;
    }
    &.small {
      padding: 0 27px;
      height: 40px;
      line-height: 40px;
    }
    &.corail{
      background-color: $color-livingCoral;
      &:hover {
        background-color: $color-livingCoral;
      }
    }
    &.blue-dial{
      background-color: $color-blueDial;
      &:hover {
        background-color: $color-blueDial;
      }
    }
  }
  div.makapi-content-img {
    width: 75%;
    margin: auto;
  }
  .makapi-container {
    max-width: $size-maxWithWebsite;
  }
  div.makapi-tabs-content {
    background-color: white;
    padding: 15px;
    > h2 {
      margin-top: 0;
    }
  }
  .form-makapi {
    input:not([type]),
    input[type=text]:not(.browser-default),
    input[type=password]:not(.browser-default),
    input[type=email]:not(.browser-default),
    input[type=url]:not(.browser-default),
    input[type=time]:not(.browser-default),
    input[type=date]:not(.browser-default),
    input[type=datetime]:not(.browser-default),
    input[type=datetime-local]:not(.browser-default),
    input[type=tel]:not(.browser-default),
    input[type=number]:not(.browser-default),
    input[type=search]:not(.browser-default),
    textarea.materialize-textarea {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $color-livingCoral;
      border-radius: 0;
      outline: none;
      height: 3rem;
      width: 100%;
      font-size: 16px;
      margin: 0 0 8px 0;
      padding: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-transition: border .3s, -webkit-box-shadow .3s;
      transition: border .3s, -webkit-box-shadow .3s;
      transition: box-shadow .3s, border .3s;
      transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    }

    input:not([type]).validate + label,
    input[type=text]:not(.browser-default).validate + label,
    input[type=password]:not(.browser-default).validate + label,
    input[type=email]:not(.browser-default).validate + label,
    input[type=url]:not(.browser-default).validate + label,
    input[type=time]:not(.browser-default).validate + label,
    input[type=date]:not(.browser-default).validate + label,
    input[type=datetime]:not(.browser-default).validate + label,
    input[type=datetime-local]:not(.browser-default).validate + label,
    input[type=tel]:not(.browser-default).validate + label,
    input[type=number]:not(.browser-default).validate + label,
    input[type=search]:not(.browser-default).validate + label,
    textarea.materialize-textarea.validate + label {
      width: 100%;
      color: $color-blueDial;
    }

    .input:not([type]):focus:not([readonly]) + label,
    input[type=text]:not(.browser-default):focus:not([readonly]) + label,
    input[type=password]:not(.browser-default):focus:not([readonly]) + label,
    input[type=email]:not(.browser-default):focus:not([readonly]) + label,
    input[type=url]:not(.browser-default):focus:not([readonly]) + label,
    input[type=time]:not(.browser-default):focus:not([readonly]) + label,
    input[type=date]:not(.browser-default):focus:not([readonly]) + label,
    input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
    input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
    input[type=number]:not(.browser-default):focus:not([readonly]) + label,
    input[type=search]:not(.browser-default):focus:not([readonly]) + label,
    textarea.materialize-textarea:focus:not([readonly]) + label {
      color: $color-livingCoral;
    }
    .input:not([type]):focus:not([readonly]),
    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=url]:not(.browser-default):focus:not([readonly]),
    input[type=time]:not(.browser-default):focus:not([readonly]),
    input[type=date]:not(.browser-default):focus:not([readonly]),
    input[type=datetime]:not(.browser-default):focus:not([readonly]),
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    input[type=tel]:not(.browser-default):focus:not([readonly]),
    input[type=number]:not(.browser-default):focus:not([readonly]),
    input[type=search]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
      border-bottom: 1px solid $color-livingCoral;
      box-shadow: 0 1px 0 0 $color-livingCoral;
    }

    .select-dropdown li.disabled > span,
    .select-dropdown li.optgroup {
      color: rgba(0, 0, 0, 0.3);
      background-color: transparent;
    }

    .dropdown-content li > a, .dropdown-content li > span {

      font-size: 16px;
      color: $color-livingCoral;
      display: block;
      line-height: 22px;
      padding: 14px 16px;

    }

    [type="checkbox"].filled-in:checked + span:not(.lever):after {
      top: 0;
      width: 20px;
      height: 20px;
      border: 2px solid $color-livingCoral;
      background-color: $color-livingCoral;
      z-index: 0;
    }
  }
}

a.makapi-corail {
  color: $color-livingCoral;
  text-decoration: none;
}
