a.btn-makapi-orange {
  background: #FF6F61;
  border-radius: 20px;
  padding: 9px 21px;
  color: white;
}

.livingCoral-text{
  color : $color-livingCoral;
}
.blueDial-text{
  color : $color-blueDial;
}
.turkishSea-text{
  color : $color-turkishSea;
}
.viridianGreen-text{
  color : $color-viridianGreen;
}
.seaPink-text{
  color : $color-seaPink;
}
.greyClaire-text{
  color : $color-greyClaire;
}
.redFalse-text{
  color : $color-redFalse;
}
.greenConfirm-text{
  color : $color-greenConfirm;
}

main.submain {
  min-height: 100vh;
  margin-top: 20px;
}

/**
  Override Materialize & global class
 */
body {
  h1 {
    font-size: 38px;
    font-weight: bold;
  }
  h2 {
    font-size: 32px;
    font-weight: 800;
  }
  h3 {
    font-size: 28px;
    font-weight: 500;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
  }
  p.makapi-text {
    text-align: justify;
    font-size: 16px;
    &.small {
      font-size: 14px;
    }
    &.tall {
      font-size: 18px;
    }
    &.bold {
      font-weight: bold;
    }
    &.italic {
      font-style: italic;
    }
  }
  .makapi-button {
    background-color: $color-livingCoral;
    padding: 0 22px;
    height: 50px ;
    line-height: 50px;
    border-radius: 20px;
    text-transform: none;
    font-weight: bold;
    font-size: 16px;
    &.large {
      padding: 0 16px;
      height: 60px;
      line-height: 60px;
      font-size: 18px;
    }
    &.small {
      padding: 0 27px;
      height: 40px;
      line-height: 40px;
    }
    &.corail{
      background-color: $color-livingCoral;
      &:hover {
        background-color: $color-livingCoral;
      }
    }
    &.blue-dial{
      background-color: $color-blueDial;
      &:hover {
        background-color: $color-blueDial;
      }
    }
  }
  div.makapi-content-img {
    width: 75%;
    margin: auto;
  }
  .makapi-container {
    max-width: $size-maxWithWebsite;
  }
}

a.makapi-corail {
  color: $color-livingCoral;
  text-decoration: none;
}
