a.btn-makapi-orange {
  background: #FF6F61;
  border-radius: 20px;
  padding: 9px 21px;
  color: white;
}





a.makapi-corail {
  color: $color-livingCoral;
  text-decoration: none;
}

/**
  Additional class part.
 */
@import "_classParts/form";