a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
}
header.dashboard-header {
  min-width: $size-minWidthDashboard;
}


main.container-dashboard {
  min-width: $size-minWidthDashboard;

  aside {
    ul.panel-dashboard {
      box-shadow: $boxShadow-blocDashboard;
      li.collection-header{
        > h4 {
          margin: 0;
          color: $color-blueDial;
        }
      }
      li.collection-item {
        padding: 0;
        > a {
          padding: 10px 15px;
          color: $color-blueDial;
          transition: .1s;
          > i {
            margin-right: 10px;
          }
          &:hover {
            color: $color-livingCoral;
          }
          &.active {
            padding-left: 35px;
            color: $color-livingCoral;
          }
        }
      }
    }
  }
  section {
    div.panel-container-bloc {
      margin: 0.5rem 0 1rem 0;
      background-color: #fff;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      box-shadow: $boxShadow-blocDashboard;
      div.header {
        border-bottom: 1px solid #ddd;
        > h4 {
          margin: 20px 15px;
          color: $color-blueDial;
        }
      }
      div.main {
        .fixed-chart-js-height {
          height: 400px;
        }
      }
    }
  }
}

