body {
  main {
    .makapi-separator {
      background-color: $color-blueDial;
      height: 1pt;
      width: 100%;
    }

    .switch label input[type=checkbox]:checked + .lever {
      background-color: $color-livingCoral;
    }

    .switch label input[type=checkbox]:checked + .lever:after {
      background-color: $color-livingCoral;
    }
  }
}