body {
  main {
    .makapi-separator {
      background-color: $color-blueDial;
      height: 1pt;
      width: 100%;
    }

    .switch label input[type=checkbox]:checked + .lever {
      background-color: $color-livingCoral;
    }

    .switch label input[type=checkbox]:checked + .lever:after {
      background-color: $color-livingCoral;
    }

    .makapi-chip{
      display: inline-block;
      height: 32px;
      font-size: 13px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.6);
      line-height: 32px;
      padding: 0 12px;
      border-radius: 16px;
      background-color: $color-greyClaire;
      margin-bottom: 5px;
      margin-right: 5px;
      width: -moz-available;

    }

    .makapi-chip i{
      color: $color-livingCoral;
    }

    a.orange-makapi{
      background-color: $color-livingCoral;
    }

    section.makapi-attributes {
      background-color: rgba(38,48,86, 0.1);
      border-radius: 10px;
    }
  }
}