body {
  main.submain {
    #form-api-name {
      font-size: 1.5rem;
      font-weight: 600;
      > input {
        @extend #form-api-name;
        padding: 0 10px;
      }
    }
    #form-api-description {
      font-size: 0.8rem;
      padding: 0 10px;
      height: 30px;
      display: flex;
      line-height: 30px;
    }
  }
}