main {
  .part-home {
    width: 100vw;
    height: 100vh;
    background: $background-makapiLinearOne;
    .home-content {
      height: 100%;
      > .home-content_center_div {
        .home-header_title {
          display: flex;
          justify-content: center;
          color: white;
          font-size: 3em;
          .home-slider_bloc {
            color: $color-livingCoral;
            .slider-list {
              list-style: none;
              text-align: right;
              margin-right: 5px;
              height: 1.2em;
              overflow: hidden;
              vertical-align: middle;
              .slider-word {
                display: block;
                height: 1.2em;
                animation-name: homepageWordSlider;
                animation-iteration-count: infinite;
                animation-duration: 10s;

              }
            }
          }
        }
        > .description {
          text-align: center;
          font-size: 18px;
          color:white;
          max-width: 630px;
          margin: auto;
          margin-top: 20px;
        }
        > .button-get_started {
          margin-top: 50px;
          text-align: center;
        }
      }
    }
  }
  .part-makapi {
    width: 100%;
    height: 100vh;
    background: $color-greyClaire;
    > .makapi-content {
      width: 1280px;
      margin: auto;
      > .makapi-image {
        > .makapi-svg_builder {
          height: 480px;
        }
      }
    }
  }
}
