body{
  background: $color-greyClaire;
  main {
    .form-signin {
      width: 100vw;
      height: 65vh;
      background:none;
      .form-content {
        height: 100%;
        margin-top: 20vh;
        background: #FFFFFF;
        >.center-block{
          .form-makapi{
            >form label{
                color: $color-blueDial;
            }
            >form input {
              border-bottom: 1px solid $color-livingCoralg;
            }
          }
        }
      }
    }
  }
}
