body{
  background: $color-greyClaire;
  main {
    .form-signin {
      height: 65vh;
      .form-content {
        margin-top: 20vh;
        background: #FFFFFF;
        box-shadow: 4px 3px 4px;
        >.center-block{
          .form-makapi{
            >form label{
                color: $color-blueDial;
            }
            >form input {
              border-bottom: 1px solid $color-livingCoral;
            }
          }
        }
      }
    }
  }
}
