{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <i class="material-icons" style="float:left; margin-top: 4px;">people_outline</i>
        <span class="sf-toolbar-value">
            Switch user
        </span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>User list</b>
            <ul>
                {% for user in collector.users %}
                    <li>p</li>
                {% endfor %}
            </ul>
        </div>
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false }) }}
{% endblock %}