<nav class="homepage-navbar">
    <div class="nav-wrapper">
        <a href="{{ path('app_default_index') }}" class="brand-logo">
            <div class="navbar-logo_makapi">
                <div class="font-mak">
                    Mak
                </div>
                <img src="{{ asset('images/favicons/favicon.png') }}">
                <div class="font-api">
                    API
                </div>
            </div>
        </a>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="#">Home</a></li>
</ul>