{# templates/emails/forgotPassword.html.twig #}
<h3>On oublie tous son mot de passe ...</h3>

Bonjour {{ name }}! Vous venez de faire une demande d'oublie de mot de passe.

Cliquez sur ce lien pour <a href="{{ url('resetPassword') }}">changer votre mot de passe</a>.

Sinon, vous pouvez y accéder via ce lien : {{ url('resetPassword') }}


L'équipe Mak'API.