{# templates/emails/registration.html.twig #}
<h3>Une dernière étape pour votre inscription ! </h3>

<p>Bonjour {{ name }}!</p>

<p>Il ne vous reste plus qu'une étape pour confirmer votre inscription.</p>

<p>Cliquez sur ce lien pour <a href="{{ url('ConfirmRegistration', {'token': token}) }}">finaliser votre inscription</a>.</p>
<p>Sinon, vous pouvez y accéder via ce lien : {{ url('ConfirmRegistration', {'token': token}) }}</p>

<p>L'équipe Mak'API.</p>