{# templates/emails/registration.html.twig #}
<h3>Une dernière étape pour votre inscription ! </h3>

Bonjour {{ name }}! Il ne vous reste plus qu'une étape pour confirmer votre inscription.

Cliquez sur ce lien pour <a href="{{ url('ConfirmRegistration') }}">finaliser votre inscription</a>.

Sinon, vous pouvez y accéder via ce lien : {{ url('confirmRegistration') }}


L'équipe Mak'API.