{# templates/emails/registration.html.twig #}
<h3>A last step for your registration! </h3>

<p>Hello {{ login }}!</p>

<p>There is only one step left to confirm your registration.</p>

<p>Click on this link to <a href="{{ url('confirm_registration', {'token': token}) }}">finalize your registration</a>.</p>
<p>Otherwise, you can access it via this link : {{ url('confirm_registration', {'token': token}) }}</p>

<p>The Mak'API team.</p>