{# templates/emails/forgotPassword.html.twig #}
<h3>We all forget his password ...</h3>

Hello {{ name }}! You have just requested a password forgotten.

Click on this link to <a href="{{ url('resetPassword') }}">change your password</a>.

Otherwise, you can access it with this link: {{ url('resetPassword') }}


The Mak'API team.