<div class="col 2">
    <h1 id="form-api-name">Name of your API</h1>
</div>
<div class="col 2">
    <a class="waves-effect waves-light btn">Edit description</a>
</div>
<div class="col 8">
    <a class="waves-effect waves-light btn makapi-button corail small">Add entity</a>
    <a class="waves-effect waves-light btn makapi-button corail small">Delete entity</a>
    <a class="waves-effect waves-light btn makapi-button corail small">Preview your API</a>
    <a class="waves-effect waves-light btn makapi-button corail small">Generate your API</a>
</div>