<div class="col s3">
    <h1 id="form-api-name">Name of your API</h1>
</div>
<div class="col s2">
    <button id="form-api-description" data-target="modal-edit-description" class="btn modal-trigger makapi-button blue-dial small">
        <i class="material-icons">edit</i>
        <p>Edit description</p>
    </button>
    <div id="modal-edit-description" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>API description</h4>
            <div class="input-field col s12">
                <textarea id="textarea-edit-description" class="materialize-textarea"></textarea>
                <label for="textarea-edit-description">Edit your API description</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</div>
<div class="col s7">
    <a class="waves-effect waves-light btn makapi-button corail small">Add entity</a>
    <a class="waves-effect waves-light btn makapi-button corail small">Delete entity</a>
    <a class="waves-effect waves-light btn makapi-button corail small">Preview your API</a>
    <a class="waves-effect waves-light btn makapi-button corail small">Generate your API</a>
</div>