<div class="row">
    <div class="col l4 m4 s4 generator-form">
        <div class="bloc-entity">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header">User
                        <i class="material-icons medium">arrow_drop_down</i>
                    </div>
                    <div class="collapsible-body form-makapi">
                        <div class="row">
                            <form class="col s12">
                                <div class="row ">
                                    <div class="input-field col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                                        <input value="" id="disabled" type="text" class="validate">
                                        <label for="user_entity">User</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row trait"></div>
                        <div class="row attribute-container">
                            <h4>Attributs</h4>
                            <div class="row">
                                <section class="attribute-list">
                                    <div class="row">
                                        <div class="col l9 m19 s9 offset-s1 offset-m1 offset-l1 chip">Firstname
                                            <i class="material-icons livingCoral-text right">create</i>
                                        </div>
                                        <div class="col l9 m19 s9 offset-s1 offset-m1 offset-l1 chip">Lastname
                                            <i class="material-icons livingCoral-text right">create</i>
                                        </div>
                                        <div class="col l9 m19 s9 offset-s1 offset-m1 offset-l1 chip">Email
                                            <i class="material-icons livingCoral-text right">create</i>
                                        </div>
                                        <div class="col l9 m19 s9 offset-s1 offset-m1 offset-l1 chip">Password
                                            <i class="material-icons livingCoral-text right">create</i>
                                        </div>
                                        <div class="col l9 m19 s9 offset-s1 offset-m1 offset-l1 chip">Status
                                            <i class="material-icons livingCoral-text right">create</i>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <span>Lorem ipsum dolor sit amet.</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col l4 m4 s4 generator-form">
        <div class="bloc-entity">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header">Post
                        <i class="material-icons medium">arrow_drop_down</i>
                    </div>
                    <div class="collapsible-body form-makapi">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                                    <input value="" id="disabled" type="text" class="validate">
                                    <label for="user_entity">User</label>
                                </div>
                            </div>
                        </form>
                        <span>Lorem ipsum dolor sit amet.</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col s4 m4 s4 generator-form">
        <div class="bloc-entity">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header">Tag
                        <i class="material-icons medium">arrow_drop_down</i>
                    </div>
                    <div class="collapsible-body form-makapi">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                                    <input value="" id="disabled" type="text" class="validate">
                                    <label for="user_entity">User</label>
                                </div>
                            </div>
                        </form>
                        <span>Lorem ipsum dolor sit amet.</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);
        });
    </script>
{% endblock %}