<div class="row">
    <div class="col l4 m4 s4 generator-form">
        <div class="bloc-entity">
            <ul class="collapsible">
                <li class="active">
                    <div id="entity-name" data-entity-id="entity-id" data-entity-name="entity-name" class="collapsible-header right-align">Entity 1
                        <i class="material-icons medium">arrow_drop_down</i>
                    </div>
                    <div class="collapsible-body form-makapi blueDial-text">
                        <div class="row">
                            <div class="row ">
                                <div class="input-field col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                                    <input value="" id="entity1" type="text" class="validate" data-length="40">
                                    <label for="entity1">Entity 1</label>
                                </div>
                            </div>
                        </div>
                        <div class="row makapi-separator"></div>
                        <section class="makapi-attributes">
                            <div class="container makapi-container">
                                <div class="row">
                                    <h4>Attributes</h4>
                                    <div id="list-attribute_1">

                                    </div>
                                </div>
                                <div class="row">
                                    <a id="add-attr_" class="btn-floating btn-small orange-makapi right">
                                        <i class="material-icons">add</i>
                                    </a>
                                </div>
                            </div>
                        </section>
                        <div class="switch right-align">
                            <label>
                                Off
                                <input checked="" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="box hide" id="box_over-file_">
                <ul class="makapi-collection with-header white">
                    <li class="makapi-collection-header">
                        <h4 id="box-attribute-name" >Default attribute</h4>
                        <p>in Entity <a href="#!">Entity 1</a></p>
                    </li>
                    <li>
                        <form class="form-makapi col l12 m12 s12">
                            <div class="input-field col l12 m12 s12 ">
                                <input value="" id="attribute_name" required type="text" class="validate">
                                <label for="attribute_name">Name of your Attribute</label>
                            </div>
                            <div class="input-field col l12 m12 s12">
                                <select id="select-type-attr">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="int">Int</option>
                                    <option value="string">String</option>
                                    <option value="bool">Boolean</option>
                                    <option value="float">Float</option>
                                    <option value="date">Date</option>
                                </select>
                                <label>Type of your Attribute</label>
                            </div>
                            <p>
                                <label>
                                    <input id="checkbx-attr" type="checkbox" class="filled-in" />
                                    <span>Nullable</span>
                                </label>
                            </p>
                        </form>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <div class="col l5 m5 s5">
                                <a id="cancel-attr" class="btn-floating btn-small red right">
                                    <i class="material-icons">cancel</i>
                                </a>
                            </div>
                            <div class="col l2 m2 s2 offset-l2 offset-m2 offset-s2">
                                <a id="valid-attr" class="btn-floating btn-small green right">
                                    <i class="material-icons">done_all</i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col l4 m4 s4 generator-form">
        <div class="bloc-entity">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header right-align">Entity 2
                        <i class="material-icons medium">arrow_drop_down</i>
                    </div>
                    <div class="collapsible-body form-makapi">
                        <div class="row">
                            <form class="col s12">
                                <div class="row ">
                                    <div class="input-field col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                                        <input value="" id="entity2" type="text" class="validate" data-length="40">
                                        <label for="entity2">Entity 2</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row makapi-separator"></div>
                        <div class="switch right-align">
                            <label>
                                Off
                                <input checked="" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col l4 m4 s4 generator-form">
        <div class="bloc-entity">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header right-align">Entity 3
                        <i class="material-icons medium">arrow_drop_down</i>
                    </div>
                    <div class="collapsible-body form-makapi">
                        <div class="row">
                            <form class="col s12">
                                <div class="row ">
                                    <div class="input-field col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                                        <input value="" id="entity3" type="text" class="validate" data-length="40">
                                        <label for="entity3">Entity 3</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row makapi-separator"></div>
                        <div class="switch right-align">
                            <label>
                                Off
                                <input checked="" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% block javascripts %}
    <script>


        /**
         * Replace title of entity by value on input entity1
         * @type {HTMLElement}
         */
        const inputEntity = document.getElementById("entity1");
        const inputAttribute = document.getElementById("attribute_name");
        const btnAdd = document.getElementById("valid-attr");
        const btnGenerate = document.getElementById("generate-api");
        let apiName = document.getElementById('form-api-name');
        let apiDescription = document.getElementById('textarea-edit-description');
        let entityId = document.getElementById("entity-name").getAttribute("data-entity-id");
        let entityName = document.getElementById("entity-name").getAttribute("data-entity-name");
        /**/

        var apiPayload;
        var entityPayload;
        var attributesPayload;

        inputEntity.addEventListener("keyup", function() {
            const api = document.getElementById("form-api-name").textContent;
            const simplifiedApiName = api.replace(/ /g, "");
            const entity = document.getElementById("entity-name");
            let entityValue = document.getElementById("entity1").value;
            let template = entityValue+"<i class=\"material-icons medium\">arrow_drop_down</i>";
            entity.innerHTML = template;
            entity.setAttribute("data-entity-name", entityValue);
            entity.setAttribute("data-entity-id", simplifiedApiName+"_"+entityValue);
        });

        inputAttribute.addEventListener("keyup", function() {
            let attrTitle = document.getElementById("attribute_name").value;
            document.getElementById("box-attribute-name").innerHTML = attrTitle;
        });

        btnAdd.addEventListener("click", function () {
            const api = document.getElementById("form-api-name").textContent;
            const simplifiedApiName = api.replace(/ /g, "");
            let inputAttribute = document.getElementById("attribute_name").value;
            let entityValue = document.getElementById("entity1").value;
            let selectValue = document.getElementById("select-type-attr").value;
            let checkbxValue= document.getElementById("checkbx-attr").checked;
            let attributeId = simplifiedApiName+"_"+entityValue+"_"+inputAttribute;

            const attributeChip = document.getElementById("list-attribute_1");
            const template = "<div class=\"makapi-chip\" id=\""+attributeId+"\" data-id-attribute=\""+attributeId+"\" data-name-attribute=\""+inputAttribute+"\" data-type-attribute=\""+selectValue+"\" data-nullable-attribute=\""+checkbxValue+"\">"+ inputAttribute + "<i class=\"material-icons right\" style=\"cursor:pointer;\" onclick=\"deleteAttribute(this)\">delete_forever</i> <i class=\"material-icons right\" style=\"cursor:pointer;\" onclick=\"editAttribute(this)\">create</i></div>";

            if(inputAttribute != ""){
                attributeChip.insertAdjacentHTML("beforeend", template);
                document.getElementById("attribute_name").value = "";
                document.getElementById("box-attribute-name").innerHTML = "Default attribute";
            }else{
                M.toast({html: 'Can not add an attribute if the name field is empty'})
            }
        });

        function editAttribute(value) {

            const nameAttr = value.parentNode.getAttribute("data-name-attribute");
            document.getElementById("attribute_name").value = nameAttr;
            document.getElementById("box_over-file_").classList.remove("hide");
            document.getElementById("box_over-file_").classList.add("box-placement");
            document.getElementById("valid-attr").id = "edit-attr";

            const btnEdit = document.getElementById("edit-attr");
            btnEdit.addEventListener("click", function () {
                const api = document.getElementById("form-api-name").textContent;
                const simplifiedApiName = api.replace(/ /g, "");
                let inputAttribute = document.getElementById("attribute_name").value;
                let entityValue = document.getElementById("entity1").value;
                let selectValue = document.getElementById("select-type-attr").value;
                let checkbxValue= document.getElementById("checkbx-attr").checked;
                let attributeId = simplifiedApiName+"_"+entityValue+"_"+inputAttribute;

                const attributeChip = document.getElementById("list-attribute_1");
                const template = "<div class=\"makapi-chip\" id=\""+attributeId+"\" data-id-attribute=\""+simplifiedApiName+"_"+entityValue+"_"+inputAttribute+"\" data-name-attribute=\""+inputAttribute+"\" data-type-attribute=\""+selectValue+"\" data-nullable-attribute=\""+checkbxValue+"\">"+ inputAttribute + "<i class=\"material-icons right\" style=\"cursor:pointer;\" onclick=\"deleteAttribute(this)\">delete_forever</i> <i class=\"material-icons right\" style=\"cursor:pointer;\" onclick=\"editAttribute(this)\">create</i></div>";

                if(inputAttribute != ""){
                    attributeChip.insertAdjacentHTML("beforeend", template);
                    document.getElementById("attribute_name").value = "";
                    document.getElementById("box-attribute-name").innerHTML = "Default attribute";
                }
                value.parentNode.remove();
                document.getElementById("edit-attr").id = "valid-attr";
                document.getElementById("box_over-file_").classList.add("hide");
            });
        }

        function deleteAttribute(value) {
            value.parentNode.remove();
        }

        btnGenerate.addEventListener('click', function() {

            let attributeName = [];
            let attributeType = [];
            let attributeNullable = [];

            var attr = document.querySelectorAll("div[data-name-attribute]");
            for( var i = 0; i < attr.length; i++ ) {
                attributeName.push(attr[i].getAttribute("data-name-attribute"));
                attributeType.push(attr[i].getAttribute("data-type-attribute"));
                attributeNullable.push(attr[i].getAttribute("data-nullable-attribute"));
            }
            const api = document.getElementById("form-api-name").textContent;
            const simplifiedApiName = api.replace(/ /g, "");
            const entity = document.getElementById("entity-name");
            let entityValue = document.getElementById("entity1").value;
            entity.setAttribute("data-entity-id", simplifiedApiName+"_"+entityValue);

            const entityId = document.getElementById("entity-name").getAttribute("data-entity-id");
            const entityName = document.getElementById("entity-name").getAttribute("data-entity-name");

            apiPayload = {
               name: apiName.textContent,
               description: apiDescription.value
            };
            entityPayload = {
               id: simplifiedApiName,
               name: entityName
            };
            attributePayload = {
               id: entityId,
               name: attributeName,
               type: attributeType,
               nullable: attributeNullable,
               attributes:""
            };

           initiateAPi("{{ path('app_default_index') }}");
        });

        function initiateAPi(route) {
            $.ajax({
                url: route,
                type: 'POST',
                data: apiPayload,
                success: function (response) {
                    entityPayload['apiId'] = response['id'];
                    $.ajax({
                        url: "{{ path('app_default_index') }}api/entities/",
                        type: 'POST',
                        data: entityPayload,
                        success: function (response) {
                            attributesPayload['entityId'] = response['id'];
                            $.ajax({
                                url: "{{path('app_default_index')}}api/fields/",
                                type: 'POST',
                                data: attributePayload,
                                success: function (res) {
                                    return res;
                                }
                            })
                        }
                    })
                }
            });
        }

    </script>
{% endblock %}