<div class="col 3 generator-form">
    <div class="bloc-entity">
        Entity bloc 1
    </div>
</div>
<div class="col 3 generator-form">
    <div id="test" class="bloc-entity">
        Entity bloc 1
    </div>
</div>
<div class="col 3 generator-form">
    <div class="bloc-entity">
        Entity bloc 1
    </div>
</div>