<div class="row">
    <div class="col l4 m4 s4 generator-form">
        <div class="bloc-entity">
            <ul class="collapsible">
                <li class="active">
                    <div id="entity-name" class="collapsible-header right-align">Entity 1
                        <i class="material-icons medium">arrow_drop_down</i>
                    </div>
                    <div class="collapsible-body form-makapi blueDial-text">
                        <div class="row">
                            <form class="col s12">
                                <div class="row ">
                                    <div class="input-field col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                                        <input value="" id="entity1" type="text" class="validate" data-length="40">
                                        <label for="entity1">Entity 1</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row makapi-separator"></div>
                        <section class="makapi-attributes">
                            <div class="container makapi-container">
                                <div class="row">
                                    <h4>Attributes</h4>
                                    <div id="List-attribute_1">
                                        <div class="makapi-chip">BENJAMM
                                            <i class="material-icons right livingCoral-text">create</i>
                                        </div>
                                        <div class="makapi-chip">PREGENT
                                            <i class="material-icons right">create</i>
                                        </div>
                                        <div class="makapi-chip">Ivan
                                            <i class="material-icons right">create</i>
                                        </div>
                                        <div class="makapi-chip">Julien
                                            <i class="material-icons right">create</i>
                                        </div>
                                        <div class="makapi-chip">Jeremie
                                            <i class="material-icons right">create</i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <a id="add-attr_" class="btn-floating btn-small orange-makapi right">
                                        <i class="material-icons">add</i>
                                    </a>
                                </div>
                            </div>
                        </section>
                        <div class="switch right-align">
                            <label>
                                Off
                                <input type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="box hide" id="box_over-file_">
                <ul class="makapi-collection with-header white">
                    <li class="makapi-collection-header">
                        <h4>BENJAMM</h4>
                        <p>in Entity <a href="#!">Entity 1</a></p>
                    </li>
                    <li>
                        <form class="form-makapi col l12 m12 s12">
                            <div class="input-field col l12 m12 s12 ">
                                <input id="attribute_name" type="text" class="validate">
                                <label for="attribute_name">Name of your Attribute</label>
                            </div>
                            <div class="input-field col l12 m12 s12">
                                <select>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="int">Int</option>
                                    <option value="string">String</option>
                                    <option value="bool">Boolean</option>
                                    <option value="float">Float</option>
                                    <option value="date">Date</option>
                                </select>
                                <label>Type of your Attribute</label>
                            </div>
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" />
                                    <span>Nullable</span>
                                </label>
                            </p>
                        </form>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <div class="col l5 m5 s5">
                                <a id="cancel-attr" class="btn-floating btn-small red right">
                                    <i class="material-icons">cancel</i>
                                </a>
                            </div>
                            <div class="col l2 m2 s2 offset-l2 offset-m2 offset-s2">
                                <a id="valid-attr" class="btn-floating btn-small green right">
                                    <i class="material-icons">done_all</i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--style="left: 230px;top: -185px;position: relative;"-->
    <div class="col l4 m4 s4 generator-form">
        <div class="bloc-entity">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header right-align">Entity 2
                        <i class="material-icons medium">arrow_drop_down</i>
                    </div>
                    <div class="collapsible-body form-makapi">
                        <div class="row">
                            <form class="col s12">
                                <div class="row ">
                                    <div class="input-field col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                                        <input value="" id="entity2" type="text" class="validate" data-length="40">
                                        <label for="entity2">Entity 2</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row makapi-separator"></div>
                        <div class="switch right-align">
                            <label>
                                Off
                                <input type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col l4 m4 s4 generator-form">
        <div class="bloc-entity">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header right-align">Entity 3
                        <i class="material-icons medium">arrow_drop_down</i>
                    </div>
                    <div class="collapsible-body form-makapi">
                        <div class="row">
                            <form class="col s12">
                                <div class="row ">
                                    <div class="input-field col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                                        <input value="" id="entity3" type="text" class="validate" data-length="40">
                                        <label for="entity3">Entity 3</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row makapi-separator"></div>
                        <div class="switch right-align">
                            <label>
                                Off
                                <input type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% block javascripts %}
    <script>

        /**
         * Replace title of entity by value on input entity1
         * @type {HTMLElement}
         */
        let inputEntity = document.getElementById("entity1");
        inputEntity.addEventListener("keyup", function() {
            let title = document.getElementById("entity1").value;
            document.getElementById("entity-name").innerHTML = title;
        });
    </script>
{% endblock %}