{% extends 'pagelayout.html.twig' %}

{% block title %}Mak'API - Generator{% endblock %}

{% block body %}
    <header class="linear-header">
        {% include 'components/header/header.html.twig' %}
    </header>
    <main class="submain container">
        <div class="row">
            {% include 'generator/_head_form.html.twig' %}
        </div>
        <div class="row">
            {% include 'generator/_main_form.html.twig' %}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('generator-form') }}
{% endblock %}
