{% extends 'pagelayout.html.twig' %}

{% block title %}Sign in 2 - test{% endblock %}

{% block body %}
    <header class="linear-header">
        {% include 'components/header/header.html.twig' %}
    </header>
    <main>

    </main>
{% endblock %}
