/**
  Global Mak'API var
 */
/**
  Color var
 */
  $color-livingCoral: #FF6F61;
  $color-blueDial: #263056;
  $color-turkishSea: #195190;
  $color-viridianGreen: #009499;
  $color-seaPink: #DE98AB;
  $color-greyClaire: #F7F7FE;
  $color-redFalse: #EB5757;
  $color-greenConfirm: #27CF17;

/**
  Background var
 */
$background-makapiLinearOne: linear-gradient(180deg, $color-blueDial 0%, #5E3D72 33.61%, #9C467E 50.87%, #D55377 64.95%, $color-livingCoral 82.2%, $color-livingCoral 82.21%);
$background-makapiLinearTwo: linear-gradient(359.79deg, $color-blueDial 15.77%, #5E3D72 46.17%, #9C467E 61.78%, #D55377 79.03%, $color-livingCoral 90.12%, $color-livingCoral 90.12%);;


/**
  Size var
 */
  $size-maxWithWebsite: 1280px;
