@import "_varParts/color";
@import "_varParts/makapi";

/**
  Front global var
 */
  $size-maxWithWebsite: 1280px;

/**
  Back global var
 */
  $size-minWidthDashboard: 900px;
  $boxShadow-blocDashboard: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);