{% extends 'pagelayout.html.twig' %}

{% block title %}Mak'API - Oops !{% endblock %}

{% block body %}
    <header class="linear-header">
        {% include 'components/header/header.html.twig' %}
    </header>
    <main class="submain container">
        <h1>Yes, this is an error page...</h1>
        <p>
            Seriously, it's not funny to destroy web page... Please <a href="{{ path('app_default_index') }}">return to the homepage</a>.
        </p>
    </main>
{% endblock %}
