{% extends 'front/linear_front.html.twig' %}

{% block title %}Mak'API - Oops !{% endblock %}

{% block main %}
    <div class="container">
        <h1>Yes, this is an error page...</h1>
        <p>
            Seriously, it's not funny to destroy web pages... Please <a href="{{ path('app_default_index') }}">return to the homepage</a>.
        </p>
    </div>
{% endblock %}
