{{ form_start(form) }}

        {{ form_widget(form) }}
        <div class="center">
                <button type="submit" class="btn makapi-button corail">{{ button_label|default('Sign up') }}</button>
        </div>

{{ form_end(form) }}
