<div class="create-content row">
    <div class="create-text col l6 s12 valign-wrapper">
        <div class="create-text_center_div">
            <h2 class="homepage-bloc_title">
                Create your API here
            </h2>
            <div class="create-text_content">
                <p>
                    You can easily create your own APIs with our step-by-step form.
                </p>
                <p>
                    It's simple no longer need to take the lead in looking for information anywhere or with
                    different sources. Everything is planned to help you and you facilitate the work directly
                    on our site.
                </p>
            </div>

        </div>
    </div>
    <div class="create-image col l6 s12 valign-wrapper">
        <object class="create-svg_create" type="image/svg+xml" data="{{ asset('images/svg/sketch.svg') }}">
            <img src="{{ asset('images/png/sketch.png') }}" alt="Makapi builder"/>
        </object>
    </div>
</div>