{% extends 'pagelayout.html.twig' %}

{% block title %}Mak'API - Delete profil{% endblock %}
{% block body %}
    <header class="linear-header">
        {% include 'components/header/header.html.twig' %}
    </header>
    <main class="linear-submain container adjust-submain">
        <div class="col offset-s3 s6">
            <div class="center-delete col s12">
                <h2>Delete your account ?</h2>
                <p>Your profile will be disabled, after 60 days it will be completely removed from our database.</p>
                <div class="delete-button">
                    <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="POST">
                        <button class="btn red darken-4 border-button">Delete</button>
                    </form>
                    <a class="btn green border-button" href="{{ path('app_user_show', {'login': app.user.login}) }}">Cancel</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="homepage-footer page-footer">
        {% include 'components/footer/homepage_footer.html.twig' %}
    </footer>
{% endblock %}

