{% extends 'pagelayout.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <header class="gradient-header">
        {% include 'components/header/header.html.twig' %}
    </header>
    <main class="gradient-submain">
        <section class="part-edit-profile">
            <div class="container">
                <div class="row">
                    <div class="col offset-xl2 xl8 offset-l1 l10 m12 s12">
                        <div class="edit-form">
                            <h2>Edit your profile informations</h2>
                            <p class="makapi-text tall semi-bold">To edit your profile, you need enter your password.</p>
                            <div class="form-makapi blueDial-text">
                                {{ include('user/_form.html.twig', {'button_label': 'Update profile'}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="part-edit-profile-second">

        </section>
    </main>
    <footer class="page-footer">
        {% include 'components/footer/footer.html.twig' %}
    </footer>
{% endblock %}