{% extends 'pagelayout.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <header class="linear-header">
        {% include 'components/header/header.html.twig' %}
    </header>

    <main>
        <section class="form-signin part-profile row col l12 m12 s12">
            <div class="form-content valign-wrapper offset-l3 col l6 m6 s6">
                <div class="center-block">
                    <h2>Sign up to MAK'API</h2>
                    <div class="form-makapi row col l12 blueDial-text">
                        {{ include('user/_form.html.twig') }}
                        <div class="center">
                            <h4>Already an account ?
                                <a href="#">Sign in.</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="page-footer">
        {% include 'components/footer/footer.html.twig' %}
    </footer>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload=M.updateTextFields();
    </script>
{% endblock %}
