{% extends 'pagelayout.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <header class="linear-header">
        {% include 'components/header/header.html.twig' %}
    </header>

    <main>
        <section class="form-signin part-profile row col l12">
            <div class="form-content valign-wrapper offset-l3 col l6">
                <div class="center-block">
                    <div class="row col l12">
                        {{ include('user/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!--<a href="{{ path('app_user_index') }}">back to list</a>-->
{% endblock %}
