{% extends 'pagelayout.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <header class="linear-header">
        {% include 'components/header/header.html.twig' %}
    </header>

    <main class="linear-submain container">
        <section class="form-signin row col l12 m12 s12">
            <div class="form-content col offset-s3 s6">
                <div class="center-block">
                    <div class="row">
                        <div class="col s12">
                            <h2>Sign up to MAK'API</h2>
                            <div class="form-makapi blueDial-text">
                                {{ include('user/_form.html.twig') }}
                                <div class="center">
                                    <h4>Already an account ?
                                        <a href="{{ path('app_security_login') }}">Sign in.</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="page-footer">
        {% include 'components/footer/footer.html.twig' %}
    </footer>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload=M.updateTextFields();
    </script>
{% endblock %}
